﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Карты</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-9">
        <div class="col-md-2">
            <span>Список точек туалетов</span>
            <ul class="ul" id="ul">
              <li>Москва, ул. Долгоруковская, 39/6</li>
              <li>Москва, ул. Каретный Ряд, 3, стр. 11</li>
              <li>Москва, ул. Большая Садовая, 16, сооружение 1</li>
              <li>Москва, Миусская пл., 1, стр. 1</li>
              <li>Москва, ул. Селезнёвская, 28, стр. 1, строение 2</li>
              <li>Москва, Оружейный пер., 13, стр. 1</li>
              <li>Москва, ул. Селезнёвская, 29, стр. 1</li>
              <li>Москва, ул. 1-я Тверская-Ямская, 2, стр. 1</li>
              <li>Москва, Тишинская пл., 1а, стр. 1</li>
              <li>Москва, 2-й Самотёчный пер., 2/4</li>

            </ul>
        </div>
        <div id="map" style="width: 600px; height: 400px" class="col-md-7">

        </div>
    </div>

</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-7">
        <div class="col-md-4">
            <input id="tualet" type="text" value="Москва, Краснопролетарская, 4" class="form-control" />
        </div>
        <button class="btn btn-default" id="add">добавить </button>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <ul id="out" class="ul"></ul>
    </div>

</div>

@section scripts
{
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">


        //map.geoObjects.add(new ymaps.Placemark([55.684758, 37.738521], {
        //    balloonContent: 'цвет <strong>воды пляжа бонди</strong>'
        //}, {
        //    preset: 'islands#icon',
        //    iconColor: '#0095b6'
        //}));


        $(document).ready(function () {

            var points = [];
            var final = [];

            $.each($("#ul li"), function (index, value) {
                points.push({ text: $(value).text() });
            });
            ///заполнили points///


            ymaps.ready(init);
            var map;

            function init() {
                map = new ymaps.Map('map', {
                    center: [55.76, 37.64], // Москва
                    zoom: 12,
                    controls: ['zoomControl'],
                });


                $.each(points, function (index, value) {

                    ymaps.geocode(value.text, { results: 1 }).then(function (res) {

                        var coord = res.geoObjects.get(0).geometry.getCoordinates();
                        var placemark = new ymaps.Placemark(coord, {
                            balloonContent: value.text,
                            hintContent: value.text,
                        }, {
                            preset: 'islands#yellowGlyphCircleIcon',
                            iconGlyph: 'glass',
                            iconColor: '#0095b6'
                        });
                        map.geoObjects.add(placemark);
                    });
                });

                //remove
                $("#add").click(function () {
                    var text = $("#tualet").val();
                    var promises = [];

                    ymaps.geocode(text, { results: 1 }).then(function (res) {
                        var coord = res.geoObjects.get(0).geometry.getCoordinates();

                        var placemark = new ymaps.Placemark(coord, {
                            balloonContent: text,
                            hintContent: text,
                            hasBalloon: true,
                        }, {
                            preset: "islands#dotCircleIcon",
                            iconColor: '#253611'
                        });


                        $.each(points, function (index, value) {
                            var item = value;
                            var promise = ymaps.route([text, item.text], { routingMode: "pedestrian" })
                                .then(
                                    function (route) {
                                        map.geoObjects.add(route);
                                        item.time = floatH(route.getTime());
                                        final.push(item);

                                    },
                                    function (error) {
                                        console.log("Возникла ошибка: " + error.message);
                                    });
                            promises.push(promise);


                        });


                        map.geoObjects.add(placemark);
                        $.when(promises).done(function () {
                          
                            var mintime = floatH(-1);
                            var min;

                            console.log(final.length);
                            console.log(final);
                            $.each(final, function (index, value) {
                                if (value.time < mintime && mintime != floatH(-1)) {
                                    mintime = value.time;
                                    min = item;
                                    console.log(item);
                                }
                            });
                         
                        });
                    });
                });
            };

        });

        function floatH(val) {
            return parseFloat(val);
        }


    </script>
}






