﻿@using System.Security.Claims

@if (User.IsSignedIn())
{

    <ul class="nav navbar-nav navbar-right">
      <li>
        <div>
          <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Выход</button>
          </form>
        </div>
      </li>
      <li>
        <a asp-controller="Profile" asp-action="Index" title="Manage">Профиль</a>
      </li>
      
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
      <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
      <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
    </ul>
}
