﻿@{
    ViewData["Title"] = "Locked out";
}

<header>
  <h1 class="text-danger">Заблокирован</h1>
  <p class="text-danger">Из-за неправильного ввода пароля, аккаунт заблокирован, пожалуйста, попробуйте зайти позже</p>
</header>
