﻿@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Вход";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
  <div class="col-md-8">
    <section>
      <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <h4>Воспользуйтесь Вашей учетной записью для входа</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="Email" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label asp-for="Password" class="col-md-2 control-label"></label>
          <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
              <input asp-for="RememberMe" />
              <label asp-for="RememberMe"></label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Вход</button>
          </div>
        </div>
        <p>
          <a asp-action="Register">Вы хотите зарегистрироваться как новый пользователь?</a>
        </p>
        @*<p>
          <a asp-action="ForgotPassword">Забыли пароль</a>
        </p>*@
      </form>
    </section>
  </div>
</div>

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
